<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkn-mwhVSSP3D7T4Qrnk2DRvSXkEnpiT4</string>
	<key>GCM_SENDER_ID</key>
	<string>961459159935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.instaclone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-e2baa</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-e2baa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:961459159935:ios:5ed8ce1c14d0f459b7104a</string>
</dict>
</plist>
